@use '../Base' as Base;

.About{
    background-color: Base.$primary-color;   
    width: 90%;  
    height: auto;

    h2{
        font-size: calc(Base.$font-size/1.5);
    }

    p { 
        text-align: center;
        padding: calc(Base.$font-size/8);
        white-space: pre-wrap;
        color: white;
        line-height: 125%;
    }

    &__link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: Base.$font-size;
    }
}


/* < 600px, 601px, 768px, 992px, 1200px */
// @media(min-width: 601px){

// }

// @media(min-width: 768px){

// }

// @media(min-width: 992px){  
// }

@media(min-width: 1200px){
    .About{
        h2{
            font-size: Base.$font-size;
        }
        p{
            width: 70%;
            line-height: 175%;

        }
        
    }
}