@use '../Base' as Base;

.About{
    background-color: Base.$primary-color;  
     
    width: 90%;  
    height: auto;

    h2{
        font-size: calc(Base.$font-size/1.5);
    }

    p { 
        font-size: calc(Base.$font-size/6);

        text-align: center;
        padding: calc(Base.$font-size/8);
        white-space: pre-wrap;
        color: black;
        line-height: 150%;
        width: 70%;
    }

    &__link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: Base.$font-size;
    }
}


/* < 600px, 601px, 768px, 992px, 1200px */
@media(min-width: 601px){
    .About{
        h2{
            font-size: calc(Base.$font-size/1.25);
        }
        p{
            font-size: calc(Base.$font-size/6);


            width: 75%;
            line-height: 225%;
        }
    }

}

@media(min-width: 768px){
    .About{
        h2{
            font-size: calc(Base.$font-size);
        }
        p{

            font-size: calc(Base.$font-size/5);

            width: 75%;
            line-height: 225%;
        }
    }

}

@media(min-width: 992px){  
    .About{
        h2{
            font-size: calc(Base.$font-size*1.25);
        }
        p{

            font-size: calc(Base.$font-size/5);


            width: 75%;
            line-height: 225%;
        }
    }

}

@media(min-width: 1200px){
    .About{
        h2{
            font-size: calc(Base.$font-size*2);
        }
        p{
            font-size: calc(Base.$font-size/5);


            width: 75%;
            line-height: 250%;
        }
    }
}

@media(min-width: 1400px){
    .About{
        h2{
            font-size: calc(Base.$font-size*2);
        }
         p{
            font-size: calc(Base.$font-size/4);

            width: 75%;
            line-height: 250%;
        }
    }
  }
  
  @media(min-width: 1600px){
    .About{
        h2{
            font-size: calc(Base.$font-size*2);
        }
        p{
            font-size: calc(Base.$font-size/4);

            width: 75%;
            line-height: 250%;
        }
    }
  }
  
  @media(min-width: 1800px){
    .About{
        h2{
            font-size: calc(Base.$font-size*2);
        }
        p{
            font-size: calc(Base.$font-size/4);

            width: 75%;
            line-height: 250%;
        }
    }
  }