.box {
    width: 1000px;
    height: 1000px;
    background-color: lightblue;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInAnimation 2s ease-in-out forwards;
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeOutAnimation 2s ease-in-out forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    99% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
      display: none;
    }
  }