@use '../Base' as Base;

.Circle {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh; /* Centered vertically and horizontally */

    &__children{
          /*   width: 50%; Starting width in percentage */
      height: calc(Base.$font-size/1.75); /* Starting height in percentage */
      background-color: black;
      border-radius: 50%;
      aspect-ratio: 1 / 1;   
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(Base.$font-size/5);
      overflow: hidden;
    }

    &__children--NoAnimation{
      // & *{
      //   opacity: 0;
      //   transition: opacity 0.3s linear;
      // }
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      border-radius: 150px; /* Back to perfect circle */
      width: calc(Base.$font-size*3);
    }

    &__children--ExpandAnimation{
      height: 50%;
      animation: CircleExpandAnimation 0.3s linear forwards;
  
      & *{
        opacity: 1;
        transition: opacity 0.3s linear;
      }
    }

    &__children--ShrinkAnimation{
      animation: CircleShrinkAnimation 0.3s linear;

      & *{
        opacity: 0;
        transition: opacity 0.3s linear;
      }
    }

  @keyframes CircleExpandAnimation {
    0% {
      height: calc(Base.$font-size/1.75); /* 10% of parent height */
      border-radius: 50%; /* Perfect circle */
    }
    50%{
      height: calc(Base.$font-size); /* Decreased height to 5% */
      border-radius: 50%; /* Back to perfect circle */
    }
    100% {
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      border-radius: 150px; /* Back to perfect circle */
      width: calc(Base.$font-size*3);
    }
  }

  
  @keyframes CircleShrinkAnimation {
    0% {  
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      border-radius: 150px; /* Back to perfect circle */
      width: calc(Base.$font-size*3);
    }
    50% {
      height: calc(Base.$font-size); /* Increased width to 15% */
      border-radius: 50%; /* Perfect circle */
    }
    100% {
      height: calc(Base.$font-size/1.75); /* Decreased height to 5% */
      border-radius: 50%; /* Back to perfect circle */
    }
  }
}

/* < 600px, 601px, 768px, 992px, 1200px */
// @media(min-width: 601px){

// }

// @media(min-width: 768px){

// }

// @media(min-width: 992px){  
// }

@media(min-width: 1200px){
  .Circle{
    &__children{
      height: calc(Base.$font-size/1.25); 
    }

    &__children--ExpandAnimation{
      animation: CircleExpandAnimation1200 0.3s linear forwards;
    }

    &__children--ShrinkAnimation{
      animation: CircleShrinkAnimation1200 0.3s linear;
    }
  }

  @keyframes CircleExpandAnimation1200 {
    0% {
      height: calc(Base.$font-size/1.75); /* 10% of parent height */
      aspect-ratio: 1 / 1;
    }
    50%{
      height: calc(Base.$font-size); /* Decreased height to 5% */
      aspect-ratio: 1 / 1;
    }
    100% {
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      aspect-ratio: 1 / 1;
    }
  }

  
  @keyframes CircleShrinkAnimation1200 {
    0% {  
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      aspect-ratio: 1 / 1;
    }
    50% {
      height: calc(Base.$font-size); /* Increased width to 15% */
      aspect-ratio: 1 / 1;
    }
    100% {
      height: calc(Base.$font-size/1.75); /* Decreased height to 5% */
      aspect-ratio: 1 / 1;
    }
  }

}