@use '../Base' as Base;

.Circle {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    // height: 100vh; /* Centered vertically and horizontally */

    &__children{

      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75); 
          /*   width: 50%; Starting width in percentage */
      height: calc(Base.$font-size/1.75); /* Starting height in percentage */
      background-color: #EAEAEA;


      border-radius: 50%;
      aspect-ratio: 1 / 1;   
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(Base.$font-size/5);

      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      
      overflow: hidden;

      & > div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; /* Remove from normal flow, so it doesn't take up space */
        top: 50%; /* Center it vertically */
        left: 50%; /* Center it horizontally */
        transform: translate(-50%, -50%); /* Adjust to perfectly center */
        z-index: 2; /* Higher z-index so it's above the filler */
        width: 100%; /* Ensure it spans across the container */
        height: 100%; /* Ensure it spans across the container */

      }
    }

    &__children--NoAnimation{
      // & *{
      //   opacity: 0;
      //   transition: opacity 0.3s linear;
      // }
      // height: calc(Base.$font-size*6); /* Decreased height to 5% */
      // border-radius: 150px; /* Back to perfect circle */
      // width: calc(Base.$font-size*3);
      height: calc(Base.$font-size*4); /* Decreased height to 5% */
      border-radius: 50%; /* Back to perfect circle */
      width: calc(Base.$font-size*4);
    }

    // &__children--ExpandAnimation{
    //   height: 50%;
    //   animation: CircleExpandAnimation 0.3s linear forwards;
  
    //   & *{
    //     opacity: 1;
    //     transition: opacity 0.3s linear;
    //   }
    // }

    // &__children--ShrinkAnimation{
    //   animation: CircleShrinkAnimation 0.3s linear;

    //   & *{
    //     opacity: 0;
    //     transition: opacity 0.3s linear;
    //   }
    // }

  // @keyframes CircleExpandAnimation {
  //   0% {
  //     height: calc(Base.$font-size/1.75); /* 10% of parent height */
  //     border-radius: 50%; /* Perfect circle */
  //   }
  //   50%{
  //     height: calc(Base.$font-size); /* Decreased height to 5% */
  //     border-radius: 50%; /* Back to perfect circle */
  //   }
  //   100% {
  //     height: calc(Base.$font-size*6); /* Decreased height to 5% */
  //     border-radius: 150px; /* Back to perfect circle */
  //     width: calc(Base.$font-size*3);
  //   }
  // }

  
  // @keyframes CircleShrinkAnimation {
  //   0% {  
  //     height: calc(Base.$font-size*6); /* Decreased height to 5% */
  //     border-radius: 150px; /* Back to perfect circle */
  //     width: calc(Base.$font-size*3);
  //   }
  //   50% {
  //     height: calc(Base.$font-size); /* Increased width to 15% */
  //     border-radius: 50%; /* Perfect circle */
  //   }
  //   100% {
  //     height: calc(Base.$font-size/1.75); /* Decreased height to 5% */
  //     border-radius: 50%; /* Back to perfect circle */
  //   }
  // }
}

.filler {
  position: absolute; /* Take the element out of the normal document flow */
  top: 0;
  left: 0;
  width: 100%; /* Make the filler span the full container */
  height: 100%; /* Make the filler span the full container */
  background-color: #EAEAEA;
  z-index: 1;
  border-radius: 50%; /* Keep the circle shape */
  border: 5px dashed black;
  // border-bottom: 5px solid #EAEAEA;
  border-left: 5px solid #EAEAEA;
  // border-right: 5px solid #EAEAEA;

  transition: transform 3s linear;
}

.filler2 {
  position: absolute; /* Take the element out of the normal document flow */
  top: 5;
  left: 5;
  width: calc(100% - 10px); /* Make the filler span the full container */
  height: calc(100% - 10px); /* Make the filler span the full container */
  background-color: #EAEAEA;
  z-index: 1;
  border-radius: 50%; /* Keep the circle shape */
  border: 5px solid black;
  border-top: 5px solid #EAEAEA;
  // border-right: 5px solid #EAEAEA;
  // border-bottom: 5px solid #EAEAEA;

  transition: transform 2s linear;
}

.filler3 {
  position: absolute; /* Take the element out of the normal document flow */
  top: 10;
  left: 10;
  width: calc(100% - 20px); /* Make the filler span the full container */
  height: calc(100% - 20px); /* Make the filler span the full container */
  background-color: #EAEAEA;
  z-index: 1;
  border-radius: 50%; /* Keep the circle shape */
  border: 5px dashed black;
  border-top: 5px solid #EAEAEA;
  border-left: 5px solid #EAEAEA;
  border-bottom: 5px solid #EAEAEA;

  transition: transform 4s linear;
}





/* < 600px, 601px, 768px, 992px, 1200px */
@media(min-width: 601px){
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*5); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*5);
    }
  }
}

@media(min-width: 768px){
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*6);
    }
  }
}

@media(min-width: 992px){  
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*6);
    }
  }
}

@media(min-width: 1200px){
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*6); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*6);
    }
  }
}



@media(min-width: 1400px){
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*7); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*7);
    }
  }
}

@media(min-width: 1600px){
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*7); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*7);
    }
  }
}

@media(min-width: 1800px){
  .Circle{
    &__children--NoAnimation{
      height: calc(Base.$font-size*7); /* Decreased height to 5% */
      border-radius: 50%;
      width: calc(Base.$font-size*7);
    }
  }
}


// .filler {
//   position: absolute; /* Take the element out of the normal document flow */
//   top: 0;
//   left: 0;
//   width: 100%; /* Make the filler span the full container */
//   height: 100%; /* Make the filler span the full container */
//   background-color: #EAEAEA;
//   z-index: 1;
//   border-radius: 50%; /* Keep the circle shape */
//   border: 8px solid black;
//   border-top: 5px solid #EAEAEA;
// }

// @media(max-width: 600px){
//   .filler {
//     position: absolute; /* Take the element out of the normal document flow */
//     top: 0;
//     left: 0;
//     height: calc(Base.$font-size*6); /* Decreased height to 5% */
//     border-radius: 150px; /* Back to perfect circle */
//     width: calc(Base.$font-size*3);
//     background-color: #EAEAEA;
//     z-index: 1;
//     // border-radius: 50%; /* Keep the circle shape */
//     border: 8px solid black;
//   }

// }


