@use '../Base' as Base;

.ContactForm{
    padding-top: 200px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(Base.$font-size/4);
    padding-bottom: calc(Base.$font-size*1.5);

    &__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: Base.$font-size;


        h2{
            font-size: calc(Base.$font-size/1.5);
        }


        &__div__list{
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); 

            border: 5px solid black;

            background-color: #EAEAEA;
            height: calc(Base.$font-size*0.6);
            width: calc(Base.$font-size*1.75);
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: all 0.5s linear;
            animation: ContactHeaderDivListAnimation 8s linear infinite;
        }
        //circle 
        &__div{
            background-color: black;
            border-radius: 50%;
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }
    
        //half circle
        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.3);
        }
    }


    @keyframes ContactHeaderDivListAnimation {
        55%{
            height: calc(Base.$font-size*0.6);
        }
        60% {  
            height: calc(Base.$font-size*0.1);
        }
        65%{
            height: calc(Base.$font-size*0.6);
        }
    }
    



    &__paragraph{
    
        width: 70%;

        p{
            font-size: calc(Base.$font-size/6);
            text-align: left;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        }

    }

    &__form{
      
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: calc(Base.$font-size/16);

        &--border{
            border-left: 3px solid #EAEAEA;
            background-color: blue;
        }

        input{
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

            background-color: #282828;
            
            border-top: none;
            border-bottom: none;
            border-right: none;

            caret-color: #EAEAEA;
            padding-top: calc(Base.$font-size/8);
            padding-bottom: calc(Base.$font-size/8);
            padding-left: calc(Base.$font-size/16);
            padding-right: calc(Base.$font-size/16);
            color: #EAEAEA;

            &:focus{
                outline: none;
                border-top: none;
                border-bottom: none;
                border-right: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        textarea{
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

            background-color: #282828;

            border-top: none;
            border-bottom: none;
            border-right: none;

            caret-color: #EAEAEA;
            padding-top: calc(Base.$font-size/8);
            padding-bottom: calc(Base.$font-size/8);
            padding-left: calc(Base.$font-size/16);
            padding-right: calc(Base.$font-size/16);
            height: 100px;
            color: #EAEAEA;

            
            &:focus{
                outline: none;
                // border: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }


    }

    &__bottom{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__message{
            display: flex;
            flex-direction: column;
            font-size: calc(Base.$font-size/6);
            gap: calc(Base.$font-size/16);
        }

        &__button{
            z-index: 1;
            color: black;
            gap: calc(Base.$font-size/4);
            font-size: calc(Base.$font-size/6);
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

            div{
                width: fit-content;
                border: none;
                position: relative;  
                cursor: pointer;
                padding-left: calc(Base.$font-size/8);
                padding-right: calc(Base.$font-size/8);
                letter-spacing: 2px;
                
            
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 3px; // Initial height is 0
                    background-color: #EAEAEA;
                    transition: height 0.3s ease-out;
                    transform-origin: left; // Transf
                    z-index: -1;
                }

                &:hover::after {
                    height: calc(100% + 10px); // Expand upwards to full height
                }
            }
        }
    }
}

@media(min-width: 601px){
    .ContactForm{
        padding-top: 225px;

        &__header{

            h2{
                font-size: calc(Base.$font-size/1.5);
            }
        }

        &__paragraph{
            p{
                font-size: calc(Base.$font-size/6);
            }
        }


        &__bottom{
            &__button{
                margin-top: calc(Base.$font-size/4);
            }
        }
    }
}

@media(min-width: 768px){
    .ContactForm{
        padding-top: 225px;

        &__header{

            h2{
                font-size: calc(Base.$font-size/1.5);
            }
        }


        &__paragraph{
            p{
                font-size: calc(Base.$font-size/6);
            }
        }

        &__bottom{
            &__button{
                margin-top: calc(Base.$font-size/4);
            }
        }
    }
}

@media(min-width: 992px){ 
    .ContactForm{

        padding-top: 225px;

        &__header{

            h2{
                font-size: calc(Base.$font-size/1.5);
            }
        }


        &__paragraph{
            p{
                font-size: calc(Base.$font-size/5);
            }
        }

        &__bottom{

            &__button{
                
                margin-top: calc(Base.$font-size/3);

            }
        }
    }
}

@media(min-width: 1200px){
    .ContactForm{

        padding-top: 225px;

        &__header{

            h2{
                font-size: calc(Base.$font-size);
            }
        }



        &__paragraph{
            p{
                font-size: calc(Base.$font-size/4);
            }
        }


        &__bottom{
            
            &__button{
                font-size: 16px;
                margin-top: calc(Base.$font-size/2);
            }
        }
    }
}

@media(min-width: 1400px){
    .ContactForm{

        padding-top: 225px;

        &__header{

            h2{
                font-size: calc(Base.$font-size);
            }
        }




        &__paragraph{
            p{
                font-size: calc(Base.$font-size/4);
            }
        }


        &__bottom{

            &__button{
                font-size: 16px;
                margin-top: calc(Base.$font-size/1.5);
            }
        }
    }
}

@media(min-width: 1600px){
    .ContactForm{

        padding-top: 175px;

        &__header{

            h2{
                font-size: calc(Base.$font-size);
            }
        }



        &__paragraph{
            p{
                font-size: calc(Base.$font-size/4);
            }
        }

        &__bottom{

            &__button{
                font-size: 16px;
                margin-top: calc(Base.$font-size/1.5);
            }
        }
    }
}

@media(min-width: 1800px){
    .ContactForm{

     
        padding-top: 225px;

        &__header{

            h2{
                font-size: calc(Base.$font-size);
            }
        }



        &__paragraph{
            p{
                font-size: calc(Base.$font-size/4);
            }
        }

        &__bottom{

            &__button{
                font-size: 16px;
                margin-top: calc(Base.$font-size/1.5);

            }
        }
    }
}