@use '../Base' as Base;


.Display{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    //width must be conssitent with parent 
    width: 100%;

    &__ul{
    
        // padding-top: 5%;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
        gap: 2px;
        background-color: #f8cb74;
        list-style-type: none;
        overflow: hidden;
        border: 1px solid red;


        a{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: calc(33.33% - 2px);         
            max-width: calc(33.33% - 2px);
            min-width: calc(33.33% - 2px);
            aspect-ratio: 1/1;
        }


        &__li{
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: flex;    
            justify-content: center;
            align-items: center;
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
            cursor: pointer;    
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: inherit; 
                z-index: 0; 
                filter: brightness(50%);
                border-radius: inherit;
            }

            p{
                position: relative;
                z-index: 1;
                font-size: calc(Base.$font-size/8);
                color: white;
                text-align: center;
                border: 1px solid red;
            }

            &:hover{
                &::after{
                    filter: brightness(100%);
                }
              
                p{
                    color: black;
                }
            }
        }
    }
}

.Portfolio__children {
    overflow: hidden;

    &--Expand {
        animation: PortfolioExpandAnimation 0.5s linear forwards;
        height: 100vh;
    }
    
    &--Shrink {
        animation: PortfolioShrinkAnimation 0.5s linear forwards;
    }

    @keyframes PortfolioExpandAnimation {
        0% {
            display: none;
            transform: scale(0, 1);
        }
        20% {
            transform: scale(0.2, 1);
        }
        40% {
            transform: scale(0.4, 1);
        }
        60% {
            transform: scale(0.6, 1);
        }
        80% {
            transform: scale(0.8, 1);
        }
        100% {
            transform: scale(1, 1);
        }
    }

    @keyframes PortfolioShrinkAnimation {
        0% {
            transform: scale(1, 1);
        }
        20% {
            transform: scale(0.8, 1);
        }
        40% {
            transform: scale(0.6, 1);       
        }
        60% {
            transform: scale(0.4, 1);
        }
        80% {
            transform: scale(0.2, 1);
        }
        100% {
            transform: scale(0, 0);
            display: none;
        }
    }

    &--Shrink > * {
        animation: HideChildren 0s linear 0.5s forwards;
    }

    @keyframes HideChildren {
        to {
            display: none;
        }
    }
}





 