@use '../Base' as Base;

.Footer_paragraph{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(Base.$font-size/16);  
    // padding-bottom: calc(Base.$font-size/4);
    padding-bottom: Base.$font-size;

    &_icon{
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        
        height: calc(Base.$font-size/5);
        width: calc(Base.$font-size/5);
    }
    
    span{
         text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
         
        color: #443b1c;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: calc(Base.$font-size/5);
    }
}