@use '../Base' as Base;

.Footer{
    padding-top: Base.$font-size;
    display: flex;
    flex-direction: column;
    gap: calc(Base.$font-size/3);
    

    &_div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    &_icon{
        height: calc(Base.$font-size/2);
        width: calc(Base.$font-size/2);
    }
}
