@use '../Base' as Base;

.Footer_paragraph{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(Base.$font-size/16);  

    &_icon{
        height: calc(Base.$font-size/5);
        width: calc(Base.$font-size/5);
    }
    
    span{
        color: #443b1c;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: calc(Base.$font-size/5);
    }
}