@use '../Base' as Base;
.Icons{
    display: flex;
    flex-direction: row;
    gap: calc(Base.$font-size/8);

    &__container0{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__container1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: calc(Base.$font-size/8);
    }

    &__container2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: calc(Base.$font-size/8);
    }

    &__container3{
        display: flex;
        flex-direction: column;
        gap: calc(Base.$font-size/8);
    }

    &__container4{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item {
        // width: 130px;
        // height: 85px;

        width: 65px;
        height: 50px;

        border-width: 3px;
        border-style: solid;
        border-color: black;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        border-radius: 5px;
        position: relative;
        perspective: 1000px; /* Add perspective for the 3D effect */
        transform-style: preserve-3d; /* Ensure child elements preserve 3D transformations */
        transition: transform 0.6s ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img{
            width: 100%; /* or a specific width */
            height: 100%; /* or a specific height */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; 

            img{
                width: 100%;
                height: 75%;
                object-fit: contain;
            }
        }

        &__span{
            font-size: calc(Base.$font-size/8);
            padding-bottom: 3px;
        }

        &--oppositeColor{
            background-color: #EAEAEA;
            color:black;
        }

        #typescriptBlock{
            span{
                font-size: 90%;
            }
        }

    }

    &__item--initialColor{
        background-color: black;
        color:#EAEAEA;
    }

    &__item--flipAnimation{
        animation: flipAnimation 2s linear forwards;
        background-color: black;
        color: #EAEAEA;

        @keyframes flipAnimation {
            0% {
              transform: rotateY(0deg);
              background-color: black;
              color: #EAEAEA;
            }
            50% {
              transform: rotateY(180deg);
            }
            100% {
              transform: rotateY(360deg);
              background-color: #EAEAEA;
              color: black;
            }
        }
    }

    &__item--flipAnimationOpposite{
        background-color: #EAEAEA;
        color: black;
        animation: flipAnimationOpposite 2s linear forwards;

        @keyframes flipAnimationOpposite {
            0% {
              background-color: #EAEAEA;
              color: black;
              transform: rotateY(0deg);
            }
            50% {
              transform: rotateY(-180deg);
            }
            100% {
              transform: rotateY(-360deg);
              background-color: black;
              color: #EAEAEA;
            }
        }
    }

}

/* < 600px, 601px, 768px, 992px, 1200px */
@media(min-width: 601px){
    .Icons{
        &__item {
            width: 95px;
            height: 80px;
        }
    }

}

@media(min-width: 768px){
    .Icons{
        &__item {
            width: 95px;
            height: 80px;
        }
    }
}

@media(min-width: 992px){  
    .Icons{
        &__item {
            width: 95px;
            height: 80px;
        }
    }

}

@media(min-width: 1200px){

    .Icons{
        &__item {
            width: 95px;
            height: 80px;
        }
    }

}


@media(min-width: 1400px){

    .Icons{
        &__item {
            width: 105px;
            height: 90px;
        }
    }

}

@media(min-width: 1600px){
    .Icons{
        &__item {
            width: 105px;
            height: 90px;
        }
    }
}

@media(min-width: 1800px){
    .Icons{
        &__item {
            width: 105px;
            height: 90px;
        }
    }
}