@use '../Base' as Base;
.ImageProject{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    // &__image{
    //     width: 100px;
    //     height: 100px;
    // }

    &--Left{
        flex-direction: row-reverse;
    }

    &__link{
        z-index: 2;
        position: relative;

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);

        &:hover{
            transform: scale(0.95);
            transition: transform 0.5s ease;
        }
    }

    &__link--BorderOnRight{
        border-bottom: 15px solid #282828;
        border-right: 30px solid #282828;
        border-top: 15px solid #282828;
    }

    &__link--BorderOnLeft{
        border-bottom: 15px solid #282828;  
        border-left: 30px solid #282828;       
        border-top: 15px solid #282828;
    }

    &__link--BorderOnTop{
        border-bottom: 15px solid #282828;
        border-left: 15px solid #282828;
        border-top: 30px solid #282828;
    }

    &__link--Right{
        //
        left: 50px;
        //
        width: 500px;
    }

    &__link--Left{
        //
        right: 50px;
        //
        width: 500px;
    }


    &__paragraph--Left{
        //
        padding-top: 30px;
        // //
        padding-left: 3%;
        padding-right: 10%;
    }

    &__paragraph--Right{
        //
        padding-top: 30px;
        // //
        padding-left: 10%;
        padding-right: 3%;
    }


    &__paragraph{
        z-index: 1;
        width: 40%;
        color: #282828;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //
        gap: calc(Base.$font-size/4);

        h3{
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
            
            margin: 0;
            //
            font-size: calc(Base.$font-size/5);

            padding-left: 10px;
        }

        p{
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

            margin: 0;
            //
            font-size: calc(Base.$font-size/7);

            border-left: 3px solid #EAEAEA;

            padding-left: 8px;
        }

        a{
            //
            font-size: calc(Base.$font-size/8);
        }

        div{
            letter-spacing: 2px;
            width: fit-content;  
            position: relative; 

            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        
            &::after{

                // display: block;
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 3px; // Initial height is 0
                background-color: #EAEAEA;
                transition: height 0.3s ease-out;
                transform-origin: left; // Transf
                z-index: -1;
            }

            &:hover::after {
                height: calc(100% + 10px); // Expand upwards to full height
            }
        }
    }

}
// default 601
@media(min-width: 768px){ 

    .ImageProject{
        &__paragraph{

            gap: calc(Base.$font-size/3);
    
            h3{
                margin: 0;
                //
                font-size: calc(Base.$font-size/4);
            }
    
            p{
                margin: 0;
                //
                font-size: calc(Base.$font-size/6);
            }
    
            a{
                // ￥￥￥￥
                font-size: calc(Base.$font-size/7);
            }
        }

        &__link--Right{
            //
            left: 25px;
            //
            width: 575px;
        }
    
        &__link--Left{
            //
            right: 25px;
            //
            width: 575px;
        }

        // &__image{
        //     height: 500px;
        // }



        &__link--BorderOnRight{
            border-bottom: 25px solid #282828;
            border-right: 40px solid #282828;
            border-top: 25px solid #282828;
        }
    
        &__link--BorderOnLeft{
            border-bottom: 25px solid #282828;  
            border-left: 40px solid #282828;       
            border-top: 25px solid #282828;
        }
    
        &__link--BorderOnTop{
            border-right: 25px solid #282828;
            border-left: 25px solid #282828;
            border-top: 40px solid #282828;
        }
    }

}


@media(min-width: 992px){  

    .ImageProject{

        &__paragraph{

            gap: calc(Base.$font-size/2);
    
            h3{
                margin: 0;
                //
                font-size: calc(Base.$font-size/3);
            }
    
            p{
                margin: 0;
                //
                font-size: calc(Base.$font-size/5);
            }
    
            a{
                //
                font-size: calc(Base.$font-size/6);
            }
        }

        // &__image{
        //     height: 500px;
        // }

        &__link--Right{
            //
            left: 25px;
            //
            width: 600px;
        }
    
        &__link--Left{
            //
            right: 25px;
            //
            width: 600px;
        }

        
        &__link--BorderOnRight{
            border-bottom: 35px solid #282828;
            border-right: 50px solid #282828;
            border-top: 35px solid #282828;
        }
    
        &__link--BorderOnLeft{
            border-bottom: 35px solid #282828;  
            border-left: 50px solid #282828;       
            border-top: 35px solid #282828;
        }
    
        &__link--BorderOnTop{
            border-right: 35px solid #282828;
            border-left: 35px solid #282828;
            border-top: 50px solid #282828;
        }

    }
}

@media(min-width: 1200px){
    .ImageProject{

        &__paragraph{

            gap: calc(Base.$font-size/2);
    
            h3{
                margin: 0;
                //356
                font-size: calc(Base.$font-size/2);
            }
    
            p{
                margin: 0;
                //
                font-size: calc(Base.$font-size/4);
            }
    
            a{
                //
                font-size: calc(Base.$font-size/5);
            }
        }

        // &__image{
        //     height: 500px;
        // }

        &__link--Right{
            //
            left: 25px;
            //
            width: 625px;
        }
    
        &__link--Left{
            //
            right: 25px;
            //
            width: 625px;
        }

        
        &__link--BorderOnRight{
            border-bottom: 45px solid #282828;
            border-right: 60px solid #282828;
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnLeft{
            border-bottom: 45px solid #282828;  
            border-left: 60px solid #282828;       
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnTop{
            border-right: 45px solid #282828;
            border-left: 45px solid #282828;
            border-top: 60px solid #282828;
        }

    }
}

@media(min-width: 1400px){
    .ImageProject{

        &__paragraph{

            gap: calc(Base.$font-size/1.5);
    
            h3{
                margin: 0;
                //245
                font-size: calc(Base.$font-size/2);
            }
    
            p{
                margin: 0;
                //
                font-size: calc(Base.$font-size/4);
            }
    
            a{
                //
                font-size: calc(Base.$font-size/5);
            }
        }



        &__link--Right{
            //
            left: 25px;
            //
            width: 700px;
        }
    
        &__link--Left{
            //
            right: 25px;
            //
            width: 700px;
        }

            
    
        &__link--BorderOnRight{
            border-bottom: 45px solid #282828;    
            border-right: 80px solid #282828;
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnLeft{
            border-bottom: 45px solid #282828;      
            border-left: 80px solid #282828;        
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnTop{
            border-right: 45px solid #282828;
            border-left: 45px solid #282828;
            border-top: 80px solid #282828;
        }
    }

}

@media(min-width: 1600px){
    .ImageProject{

        &__paragraph{
            //245
            gap: calc(Base.$font-size/1.5);
    
            h3{
                margin: 0;
                //
                font-size: calc(Base.$font-size/2);
            }
    
            p{
                margin: 0;
                //
                font-size: calc(Base.$font-size/4);
            }
    
            a{
                //
                font-size: calc(Base.$font-size/5);
            }
        }



        &__link--Right{
            //
            left: 25px;
            //
            width: 800px;
        }
    
        &__link--Left{
            //
            right: 25px;
            //
            width: 800px;
        }
  
    
        &__link--BorderOnRight{
            border-bottom: 45px solid #282828;    
            border-right: 80px solid #282828;
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnLeft{
            border-bottom: 45px solid #282828;      
            border-left: 80px solid #282828;        
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnTop{
            border-right: 45px solid #282828;
            border-left: 45px solid #282828;
            border-top: 80px solid #282828;
        }
    }

}

@media(min-width: 1800px){
    .ImageProject{

        &__paragraph{

            gap: calc(Base.$font-size/1.5);
    
            h3{
                margin: 0;
                //245
                font-size: calc(Base.$font-size/2);
            }
    
            p{
                margin: 0;
                //
                font-size: calc(Base.$font-size/4);
            }
    
            a{
                //
                font-size: calc(Base.$font-size/4);
            }
        }

        &__link--Right{
            //
            left: 25px;
            //
            width: 900px;
        }
    
        &__link--Left{
            //
            right: 25px;
            //
            width: 900px;
        }
    
        &__link--BorderOnRight{
            border-bottom: 45px solid #282828;    
            border-right: 80px solid #282828;
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnLeft{
            border-bottom: 45px solid #282828;      
            border-left: 80px solid #282828;        
            border-top: 45px solid #282828;
        }
    
        &__link--BorderOnTop{
            border-right: 45px solid #282828;
            border-left: 45px solid #282828;
            border-top: 80px solid #282828;
        }
    }

}