@use '../Base' as Base;

.Portfolio{
    background-color: #f8cb74;
    border: 1px solid blue;
    width: 100%;
    height: fit-content;

    h2{
        font-size: calc(Base.$font-size/1.5);
    }

    &__imageProjects{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: Base.$font-size;
    }
    //white background
    &__div__list{
        background-color: white;
        height: calc(Base.$font-size*0.6);
        width: calc(Base.$font-size*1.75);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.5s linear;
    }
    //circle 
    &__div{
        background-color: black;
        border-radius: 50%;
        height: calc(Base.$font-size/1.25);   
        width: calc(Base.$font-size/1.25);
    }

    //half circle
    &__div--Size{
        height: calc(Base.$font-size);
        width: calc(Base.$font-size);
        margin-top: calc(Base.$font-size*0.3);
    }
}

.Portfolio__children{
    overflow: hidden;

    &--Expand{
        animation: PortfolioExpandAnimation 0.5s linear forwards;
        height: 100vh;
    }
    
    &--Shrink{
        animation: PortfolioShrinkAnimation 0.5s linear forwards;
    }


    @keyframes PortfolioExpandAnimation{
        0%{
            transform: scale(0, 1);
        }
        20%{
            transform: scale(0.2, 1);
        }
        40%{
            transform: scale(0.4, 1);
        }
        60%{
            transform: scale(0.6, 1);
        }
        80%{
            transform: scale(0.8, 1);
        }
        100%{
            transform: scale(1, 1);
        }
    }

    @keyframes PortfolioShrinkAnimation {
        0%{
            transform: scale(1, 1);
        }
        20%{
            transform: scale(0.8, 1);
        }
        40%{
            transform: scale(0.6, 1);       
        }
        60%{
            transform: scale(0.4, 1);
        }
        80%{
            transform: scale(0.2, 1);
        }
        100%{
            transform: scale(0, 0);
            display: none;
        }
    }
}

/* < 600px, 601px, 768px, 992px, 1200px */
// @media(min-width: 601px){

// }

// @media(min-width: 768px){

// }

// @media(min-width: 992px){  
// }

@media(min-width: 1200px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}