@use '../Base' as Base;

.Portfolio{
    // border: 1px solid green;

    background-color: #f8cb74;
    width: 100%;
    height: fit-content;

    h2{
        font-size: calc(Base.$font-size/1.5);
    }

    &__imageProjects{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 100px;

        justify-content: center;
        align-items: center;

        &--noDisplay{
            // visibility: hidden;
            // height: 0px;
            display: none;
        }
    }

    &__link {
        padding-top: 40px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: Base.$font-size;
        padding-bottom: 40px;
    }
    //white background
    &__div__list{
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); 

        border: 5px solid black;

        background-color: #EAEAEA;
        height: calc(Base.$font-size*0.6);
        width: calc(Base.$font-size*1.75);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.5s linear;
    }
    //circle 
    &__div{
        background-color: black;
        border-radius: 50%;
        height: calc(Base.$font-size/1.25);   
        width: calc(Base.$font-size/1.25);


        display: flex;
        align-items: center;
        justify-content: center;

        // &__testPortfolio{
        //     transform: translateY(40%);
        //     height: 25%;
        //     width: 25%;
        //     border-radius: 50%;
        //     background-color: white;
        //     text-align: center;
        // }

        &__filler{/* Take the element out of the normal document flow */
            width: 50%; /* Make the filler span the full container */
            height: 25%; /* Make the filler span the full container */
            background-color: #EAEAEA;
            z-index: 1;
            border-radius: 50%; 
            display: flex;
            align-items: center;
            justify-content: center;


            &__subFiller{
                width: 50%; /* Make the filler span the full container */
                height: 50%; /* Make the filler span the full container */
                background-color: black;
                z-index: 1;
                border-radius: 50%; 
            }

        }
    }

    //half circle
    &__div--Size{
        height: calc(Base.$font-size);
        width: calc(Base.$font-size);
        margin-top: calc(Base.$font-size*0.3);
    }

    
    &__div--Animation0{
        transform: translate(-20%, -6%);
        transition: transform 0.2s ease-in-out;
    }

    &__div--Animation1{
        transform: translateY(-6%);
        transition: transform 0.2s ease-in-out;
    }

    &__div--Animation2{
        transform: translate(20%, -6%);
        transition: transform 0.2s ease-in-out;
    }

    &__div--Animation3{
        transform: translate(-20%, 3%);
        transition: transform 0.2s ease-in-out;
    }

    &__div--Animation4{
        transform: translateY(3%);
        transition: transform 0.2s ease-in-out;
    }

    &__div--Animation5{
        transform: translate(20%, 3%);
        transition: transform 0.2s ease-in-out;
    }
}

.Portfolio__children{
    overflow: hidden;

    &--Expand{
        animation: PortfolioExpandAnimation 0.5s linear forwards;
        // height: 100vh;
    }
    
    &--Shrink{
        animation: PortfolioShrinkAnimation 0.5s linear forwards;
    }


    @keyframes PortfolioExpandAnimation{
        0%{
            display: none;
            transform: scale(0, 1);
        }
        20%{
            transform: scale(0.2, 1);
        }
        40%{
            transform: scale(0.4, 1);
        }
        60%{
            transform: scale(0.6, 1);
        }
        80%{
            transform: scale(0.8, 1);
        }
        100%{
            transform: scale(1, 1);
        }
    }

    @keyframes PortfolioShrinkAnimation {
        0%{
            transform: scale(1, 1);
        }
        20%{
            transform: scale(0.8, 1);
        }
        40%{
            transform: scale(0.6, 1);       
        }
        60%{
            transform: scale(0.4, 1);
        }
        80%{
            transform: scale(0.2, 1);
        }
        100%{
            transform: scale(0, 0);
            display: none;
            height: 0;
            width: 0;
        }
    }
}

/* < 600px, 601px, 768px, 992px, 1200px */
@media(min-width: 601px){
    .Portfolio{
        h2{
            font-size: calc(Base.$font-size/1.5);
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}

@media(min-width: 768px){
    .Portfolio{
        h2{
            font-size: calc(Base.$font-size/1.5);
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }

}

@media(min-width: 992px){  
    .Portfolio{
        h2{
            font-size: calc(Base.$font-size/1.5);
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}

@media(min-width: 1200px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}


@media(min-width: 1200px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}


@media(min-width: 1200px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}


@media(min-width: 1400px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}

@media(min-width: 1600px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}

@media(min-width: 1800px){
    .Portfolio{
        h2{
            font-size: Base.$font-size;
        }


        &__div__list{
            width: 25%;
        }
        
        &__div{
            height: calc(Base.$font-size/1.25);   
            width: calc(Base.$font-size/1.25);
        }

        &__div--Size{
            height: calc(Base.$font-size);
            width: calc(Base.$font-size);
            margin-top: calc(Base.$font-size*0.1);
        }
    }
}