$border-transparent: transparent;

.__sample--base{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 0.875rem; 
    font-weight: 500;
    border-radius: 0.375rem;
    padding: 0.625rem; 
    transition: background-color 0.2s ease-in-out;
    outline: none;
    background-color: green;

    .span_test{
        background-color: red;
    }

    &:not(.diss,.diss1):hover {
        background-color: blue;
    }
}




