$font-size: 8rem;

@mixin height($scale: 1){
    height: calc($font-size * $scale);
}

@mixin width($scale: 1){
    width: calc($font-size * $scale);
}

@mixin gap($scale: 1){
    gap: calc($font-size * $scale);
}

@mixin font-size($scale: 1){
    font-size: calc($font-size * $scale);
}



