@use './Base' as Base;


.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: Base.$primary-color;
  align-items: center;
  // border:1px red solid;
}
.div1{
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // border:1px solid green;
  // gap: 1rem;
}

.Navbar{
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2); 
}

.divRolling{
  padding-top: 15%;
}

.anix {
  animation: OpacityAnimation 1.5s linear;
}

.div3{
  padding-top: 100px;
  // min-height: 100vh;
  // max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //fixed for center
  justify-content: center;
  align-items: center;
  // gap: calc(Base.$font-size/2);
  width: 100%;
  // border: 1px solid red;
  position: relative;

  // border: 1px solid green;
  gap: calc(Base.$font-size);
}

// .Navbar{
//   top: 0%;
//   width: 100%;
//   position: absolute;
//   background-color: blue;
//   border: 10px blue solid;
// }


// .div4{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   gap: calc(Base.$font-size/4);
//   flex-grow: 1;
// }

@keyframes OpacityAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.dAbout{
  position: relative;
  top:-40px;
  transform: translateY(-50px);
  opacity: 0;
  animation: dAboutAni 0.75s linear forwards;
  display: flex;
  justify-content: center;  

}

.dIcons{
  position: relative;
  top:-40px;
  transform: translateY(-50px);
  opacity: 0;
  animation: dAboutAni 0.75s linear forwards;
  display: flex;
  justify-content: center;  
}

.dParagraph{
  transform: translateY(-50px);
  opacity: 0;
  animation:dAboutAni 0.75s linear forwards;
  display: flex;
  justify-content: center;  
}

@keyframes dAboutAni {
  50%{
    opacity: 0;
    transform: translateY(-30px);
  }
  75%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.downArrow{
  display: flex;
  justify-content: center;
  // align-items: flex-end;
  // margin-top: auto;
  transform: translateY(-20px);
  animation: downArrowAni 1.75s linear;

  &__Icon{
    height: calc(Base.$font-size);
    width: calc(Base.$font-size);
    animation: shake 4s linear infinite;
    cursor: pointer;
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  
    @keyframes shake {
      0% { transform: translate3d(0, 0, 0); } /* Starting and ending at the original position */
      5% { transform: translate3d(0, -2px, 0); } /* Slight upward movement */
      10% { transform: translate3d(0, 2px, 0); }  /* Slight downward movement */
      15% { transform: translate3d(0, -4px, 0); } /* More upward movement */
      20% { transform: translate3d(0, 4px, 0); }  /* More downward movement */
      25% { transform: translate3d(0, -4px, 0); }      /* Peak upward movement at the midpoint */
      30% { transform: translate3d(0, 0, 0); }      /* Peak upward movement at the midpoint */
      40% { transform: translate3d(0, 0, 0); } /* Starting and ending at the original position */
      50% { transform: translate3d(0, 0, 0); } /* Slight upward movement */
      60% { transform: translate3d(0, 0, 0); } /* Starting and ending at the original position */
      70% { transform: translate3d(0, 0, 0); } /* Slight upward movement */
      80% { transform: translate3d(0, 0, 0); }  /* Slight downward movement */
      90% { transform: translate3d(0, 0, 0); } /* More upward movement */
      100% { transform: translate3d(0, 0, 0); }  /* More downward movement */
    }
  }

  &--Hidden{
    visibility: hidden;
  }

  @keyframes downArrowAni{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0;
    }
    75%{
      opacity: 0;
    }
    100%{
      opacity: 0.5;
    }
  }
}

.dPortfolio{
  // display: flex;
  // justify-content: center;

  
  height: fit-content;
  width: 100%;
  transform: translateY(-50px);
  opacity: 0;
  animation:dPortfolioAni 1s linear forwards;

  padding-top: 50px;
  // max-height: 10%;
}

@keyframes dPortfolioAni {
  50%{
    opacity: 0;
    transform: translateY(-30px);
  }
  75%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.dContact{
  transform: translateY(-50px);
  opacity: 0;
  animation:dContactAni 1.25s linear forwards;
  width: 90%;
  display: flex;
  justify-content: center;
}

@keyframes dContactAni {
  50%{
    opacity: 0;
    transform: translateY(-30px);
  }
  75%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.div4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(Base.$font-size/4);
  flex-grow: 1;

}

.dFooter{
  transform: translateY(-50px);
  opacity: 0;
  animation:dFooterAni 1.5s linear forwards;
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes dFooterAni {
  50%{
    opacity: 0;
    transform: translateY(-30px);
  }
  75%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

// .mixintest{
//   border: 1px solid pink;
//   @include Size.height((4));
// }
//
/* < 600px, 601px, 768px, 992px, 1200px, 1400px, 1600px, 1800px */
@media(min-width: 601px){
  .dFooter{
    padding-top: 50px;
  }
}

@media(min-width: 768px){

}

@media(min-width: 992px){  
}

@media(min-width: 1200px){
  .div1{
    height: 100vh;
    width: 75%;
  }
}

@media(min-width: 1400px){
  .div1{
    height: 100vh;
    width: 70%;
  }
}

@media(min-width: 1600px){
  .div1{
    height: 100vh;
    width: 65%;
  }
}

@media(min-width: 1800px){
  .div1{
    height: 100vh;
    width: 60%;
  }
}
