$font-family: 'Montserrat', 'Oswald', Arial, sans-serif;

html, body {
  margin: 0;
  font-family: $font-family;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #f8cb74;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0; 
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0; 
  padding: 0;
}